@import '../color.scss';
@import '../media.scss';

.Content {
  margin-left: 0 !important;
  margin-right: 0 !important;
  > div {
    @include mobile() {
      width: 100%;
      padding: 0;
      margin: 5px 0;
    }

    @include pc() {
      margin: 10px 0;
    }
  }
}

.ContentHeader {
  span {
    color: $postech-red;
  }

  @include mobile() {
    margin-left: 20px;
    text-align: left;
  }
}
