@import '../../color.scss';
@import '../../media.scss';

.Footer {
  width: 100%;
  height: 150px;
  border-top: 1px solid $postech-ivory;
  font-size: 0.9rem;

  @include mobile() {
    height: auto;
  }

  .Top {
    background-color: $postech-ivory;
    height: 60px;
    color: $postech-gray;
    font-weight: bolder;
    padding: 0 10% 0 10%;

    @include mobile() {
      height: 75px;
      padding: 10px 10% 0 10%;
    }

    a {
      text-decoration: none;
      color: $postech-gray;
    }

    span {
      display: inline;
      line-height: 60px;
      font-size: 1rem;
      @include mobile() {
        display: none;
      }
    }

    p {
      display: none;
      @include mobile() {
        display: inline;
        line-height: 150%;
      }
    }
  }

  .Bottom {
    height: 50px;
    margin: 0 5% 0 5%;
    padding: 25px 5% 25px 5%;

    @include mobile() {
      height: auto;
      padding-top: 5px;
    }

    > div {
      display: inline-block;
    }

    .TextBox {
      @include pc() {
        height: 50px;
      }

      .Contact {
        color: $postech-gray;
        span {
          display: inline;
          @include mobile() {
            display: none;
          }
        }

        p {
          display: none;
          @include mobile() {
            display: inline;
            line-height: 125%;
          }
        }
      }

      .Copyright {
        margin-top: 5px;
        color: $postech-gray;
        p {
          margin: 0;
          margin-top: 10px;
        }
      }
    }

    .Logo {
      width: 15%;
      img {
        height: 50px;
        margin-bottom: -10px;

        @include mobile() {
          display: none;
        }
      }
    }
  }
}
