@import '../../color.scss';
@import '../../media.scss';

.Header {
  margin-top: 30px;
  margin-bottom: 30px;

  @include mobile() {
    margin: 5px 0 0 0;
  }
}

.TopNav {
  height: 40px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 7.5%;

  .TopNavItems {
    > a {
      color: $postech-silver;
      float: right;
      padding: 0 10px 0 10px;
      line-height: 40px;
      font-size: 0.9rem;
      text-decoration: none;
    }

    a:hover {
      color: $postech-red;
    }

    .Facebook:hover {
      color: $facebook-color;
    }

    .TopNavButton {
      border: 1px solid $postech-silver;
      margin-left: 10px;
      color: $postech-silver;
      transition: all 0.2s;
      width: 85px;
      text-align: center;

      &:hover,
      &:active {
        color: white;
        background-color: $postech-red;
      }
    }

    display: block;
  }

  a {
    &:hover {
      cursor: pointer;
    }
  }

  @include mobile() {
    display: none;
  }
}

$mobile-top-nav-height: 55px;

.MobileTopNav {
  @include mobile() {
    display: block;
    height: $mobile-top-nav-height;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 1rem;

    .MobileLogo {
      height: $mobile-top-nav-height;
      color: $postech-red;
      font-weight: 900;
      font-size: 1.15rem;
      text-decoration: none;
    }

    .MobileTopNavLeftBox {
      width: 50px;
      padding-right: 15px;
      float: left;
      a {
        color: $facebook-color;
        text-decoration: none !important;
      }
    }

    .MobileTopNavRightBox {
      width: 50px;
      float: right;
      padding-left: 15px;
      a {
        &:active {
          color: $postech-red;
        }
      }

      .MobileTopNavRightBoxSubItems {
        visibility: hidden;
        position: absolute;
        min-width: 150px;
        margin-left: -90px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transform: translateY(-1em);
        z-index: 3;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        a {
          float: none;
          background-color: white;
          color: black;
          padding: 2px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          &:active {
            background-color: $postech-red;
            color: white;
            cursor: pointer;
          }
        }

        &.open {
          visibility: visible;
          opacity: 1;
          z-index: 3;
          transform: translateY(0%);
          transition-delay: 0s, 0s, 0.3s;
        }
      }
    }

    a {
      line-height: $mobile-top-nav-height;
    }
  }
  display: none;
}

$bottom-nav-height: 60px;
$mobile-bottom-nav-item-height: 40px;
$mobile-bottom-nav-item-padding: 0 0 0 18px;
$mobile-bottom-nav-sub-item-padding: 0 28px;

.BottomNav {
  @include pc() {
    height: $bottom-nav-height;
    padding-left: 5%;
    padding-right: 5%;

    .Logo {
      float: left;
      margin-left: 10px;
      margin-top: 0px;
      margin-left: 2%;
      margin-right: 2%;
      font-size: 2.3rem;
      font-weight: 900;
      width: 240px;
      color: $postech-red;
      text-decoration: none;
    }

    .MobileMenuButton {
      display: none;
    }

    .BottomNavItems {
      width: 68%;
      float: right;
      display: flex;
      flex-direction: row;

      > div {
        flex-grow: 1;
        transition-delay: 0.4s;
        > div:first-child {
          height: $bottom-nav-height;
          margin: 0 20px 15px 20px;
          text-align: center;
          line-height: $bottom-nav-height;
          font-size: 1.2rem;
          font-weight: bolder;

          &:hover {
            cursor: pointer;
          }

          > a {
            display: none;
          }
        }

        .BottomNavSubItems {
          visibility: hidden;
          position: absolute;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          opacity: 0;
          transform: translateY(-1em);
          z-index: 3;
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
          a {
            float: none;
            background-color: white;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            &:hover {
              background-color: $postech-red;
              color: white;
              cursor: pointer;
            }
          }
        }

        &:hover {
          > div:first-child {
            color: $postech-red;
            border-bottom: 3px solid $postech-red;
          }
          .BottomNavSubItems {
            visibility: visible;
            opacity: 1;
            z-index: 3;
            transform: translateY(0%);
            transition-delay: 0s, 0s, 0.3s;
          }
        }
      }
    }
  }

  @include mobile() {
    display: block;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $postech-ivory;
    color: $postech-gray;

    .Logo {
      display: none;
    }

    .MobileMenuButton {
      margin: 0;
      display: inline-block;
      height: 50px;
      width: 100%;
      text-align: center;
      line-height: 50px;
      font-size: 1.3rem;
      font-weight: bold;
      border-bottom: 1px solid $border-pink;
    }
    .BottomNavItems {
      max-height: 0px;
      overflow: hidden;
      transition: all 0.6s ease;

      &.open {
        max-height: 1000px;
      }

      > div {
        > div:first-child {
          background-color: white;
          color: black;
          width: 100%;
          text-align: left;
          border: none;
          outline: none;
          border-bottom: 1px solid $border-color;
          height: $mobile-bottom-nav-item-height;
          padding: $mobile-bottom-nav-item-padding;
          display: inline-block;
          height: $mobile-bottom-nav-item-height;
          line-height: $mobile-bottom-nav-item-height;

          &:active {
            background-color: $postech-cherry;
            color: white;

            > a {
              background-color: $postech-red;
              color: white;
            }
          }

          > a {
            padding-right: 18px;
            background-color: $postech-ivory;
            text-align: center;
            float: right;
            width: $mobile-bottom-nav-item-height;
          }
        }

        .BottomNavSubItems {
          background-color: white;
          color: $postech-red;
          max-height: 0px;
          overflow: hidden;
          transition: all 0.5s ease;

          a {
            padding: $mobile-bottom-nav-sub-item-padding;
            display: block;
            width: 100%;
            height: $mobile-bottom-nav-item-height;
            line-height: $mobile-bottom-nav-item-height;
            border-bottom: 1px solid $border-color;

            &:active {
              background-color: $postech-red;
              color: white;
            }
          }

          &.active {
            max-height: 500px;
          }
        }

        &.active {
          > div:first-child {
            background-color: $postech-cherry;
            border-bottom: 1px solid $border-color;
            color: white;

            > a:last-child {
              background-color: $postech-red;
            }
          }
        }
      }
    }
  }
}
