@import '../../color.scss';
@import '../../media.scss';

.ImgBox {
  position: relative;
  text-align: center;
  z-index: -3;
  @include pc {
    img {
      width: 100%;
      height: auto;
      max-height: 230px !important;
    }
  }

  @include mobile {
    width: 100%;
    text-align: center;
    overflow: hidden;
    img {
      width: 140%;
      min-height: 150px;
      position: relative;
      left: 50%;
      transform: translate(-49%, 0);
    }
  }
}
