@import '../../../color.scss';
@import '../../../media.scss';

.SideNav {
  margin: 60px 10% 50px 10%;
  width: 80%;
  border-top: 1px solid $postech-red;
  transition: all 0.2s ease;

  > div {
    height: 50px;
    font-weight: 500;
    border-bottom: 1px solid $border-color;
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      line-height: 50px;
      margin-left: 25px;
      cursor: pointer;
      // color: $postech-red;
    }

    &:hover {
      background-color: $postech-red;
      color: white;
    }

    &.active {
      background-color: $postech-red;
      color: white;
    }
  }
}
