$postech-red: rgb(200, 1, 80);
$postech-cherry: #ca0464;
$postech-orange: rgb(255, 179, 0);
$postech-gray: rgb(102, 102, 92);
$postech-silver: rgb(190, 190, 195);
$postech-lightsilver: #f1f1f1;
$postech-gold: rgb(213, 177, 90);
$postech-darkbrown: rgb(162, 131, 88);
$postech-brown: #bba078;
$postech-lightbrown: #c8ae88;
$postech-ivory: rgb(247, 246, 244);

$border-color: #e8e8e8;
$border-brown: #ceb897;
$border-pink: #ea5ea2;

$facebook-color: rgb(52, 98, 169);
